<connectionStrings>
  <!--<add name="ToDoEntities" connectionString="metadata=res://*/ToDoModel.csdl|res://*/ToDoModel.ssdl|res://*/ToDoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=ToDo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  <!--Local Testing Connection String-->
  
  <add name="ToDoEntities" connectionString="metadata=res://*/ToDoModel.csdl|res://*/ToDoModel.ssdl|res://*/ToDoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=ToDo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=ToDo;Integrated Security=true" providerName="System.Data.SqlClient"/>

  <!--Live Testing Connection String-->
  
  <!--<add name="ToDoEntities" connectionString="metadata=res://*/ToDoModel.csdl|res://*/ToDoModel.ssdl|res://*/ToDoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5085.site4now.net;Initial Catalog=db_a7c594_todoapi;User Id=db_a7c594_todoapi_admin;Password=DwSc7058@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="DefaultCOnnection" connectionString="Data Source=SQL5085.site4now.net;InitialCatalog=db_a7c594_todoapi;User Id=db_a7c594_todoapi_admin;Password=DwSc7058@" providerName="System.Data.SqlClient" />-->
  
</connectionStrings>

